<div class="homepage-header">
  <div class="container d-flex align-items-center pt-5 pb-3">
    <% if user_signed_in? %>
      <h4>Welcome, <%= current_user.username %></h4>
    <% else %>
      <h3>Welcome, Guest</h3>
    <% end %>
  </div>
</div>
<div class="container mb-navbar mt-header" data-controller="search">
  <h1>Latest Products</h1>
  <%= form_with(url: search_items_path, method: :get, class: "gc-form", local: false) do |f| %>
    <div class="search-input-wrapper">
      <%= f.text_field :query,
                        class: "form-control gc-form",
                        placeholder: "Search by name, strain, or grow type...",
                        data: {
                          search_target: "input",
                          action: "input->search#search input->search#updateIcon"
                        } %>
      <button type="button" class="search-icon-btn" data-search-target="iconBtn" data-action="click->search#handleIconClick">
        <i class="bi bi-search" data-search-target="icon"></i>
      </button>
    </div>
    <% end %>
  <div data-search-target="results">
    <%= render partial: "items", locals: { items: @items } %>
  </div>
</div>
